:root {
	--price : #789d4a;
	--downvote : #ff2323;
    --upvote : #00cf5a;
    --favorite : orange;
	font-family : "Brown Regular", sans-serif;
}

@font-face {
	font-family: 'Brown Regular';
	src: url('../fonts/Brown-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* BOTTOM NAVBAR */
.bottom-navbar {
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    backdrop-filter         : blur(10px);
    -webkit-backdrop-filter : blur(10px);
    box-shadow              : 0 0 3px rgba(0, 0, 0, 0.2);
	background              : transparent;
    opacity                 : 1;
    z-index: 100;
}

.bottom-navbar a {
    justify-content: center;
    text-align: center;
    color: black;
}

.bottom-navbar i {
    width: 100%;
    font-size: 30px;
}

.bottom-navbar span {
    font-size: 11px;
}

/* FOOD ITEMS CONTAINER */

#food_items {
    margin-bottom: 60px;
}
