
.fooditem img {
    width: 100%;
}

.fooditem .btn_upvote,
.fooditem .btn_downvote,
.fooditem .btn_favorite {
    color: gray;
}

.fooditem .btn_upvote.active {
    color: green;
}

.fooditem .btn_downvote.active {
    color: red;
}

.fooditem .btn_favorite.active {
    color: blue;
}

.fooditem {
  display: grid;
  padding: 0;
  margin: 0 auto;
  border-radius: 15px 15px 15px 15px;
  max-width: 1000px;
  grid-template-columns: 25% 25% 25% 25%;
}

.fooditem img{
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 15px 15px 15px 15px;
}

.fooditem .card-data{
  grid-column-start: 3;
}

/** Focused food panel **/

#food_single {
    background-color: royalblue;
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    transition: 0.3s;
}

#food_single.singlehidden {
    bottom: -100%;
}

#food_single_cross {
    background-color: red;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 25px;
}

#food_single_upvote,
#food_single_downvote,
#food_single_favorite {
    background-color: gray;
}

#food_single_upvote.active {
    background-color: green;
}

#food_single_downvote.active {
    background-color: red;
}

#food_single_favorite.active {
    background-color: orange;
}

#food_single img {
    width: 200px;
}
