:root {
	--price : #789d4a;
	--downvote : #ff2323;
    --upvote : #00cf5a;
    --favorite : orange;
	font-family : "Brown Regular", sans-serif;
}

@font-face {
	font-family: 'Brown Regular';
	src: url('../../fonts/Brown-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.fooditem .btn_upvote,
.fooditem .btn_downvote,
.fooditem .btn_favorite {
    color: gray;
}

.fooditem .btn_upvote.active {
    color: var(--upvote);
}

.fooditem .btn_downvote.active {
    color: var(--downvote);
}

.fooditem .btn_favorite.active {
    color: var(--favorite);
}

/* Food Presenter Window */
.food_presenter {
    height: 0;
    overflow-y: hidden;
    transition: .2s;
}

.food_presenter.active {
    display: block;
    background-color: springgreen;
    height: 80%;
}

.food_closeup {
    height: 70%;
    overflow-y: hidden;
}

/* food info displays */

.fooditem {
    display: none;
}

.fooditem.active {
    display: block;
}

.fooditem img {
    width: 50%;
}

/* carousel */

.food_carousel_item {
    background-color: skyblue;
}

.food_carousel_item img {
    height: 70%;
    object-fit:cover;
}
