/* colours */
:root{
  --primary: #272727;
  --secondary: #747474;
  --orange: #ff6525;
  --yellow: #ffe400;
  --green: #14a76c;
}

  /*** **** ***/
 /** navbar **/
/*** **** ***/

nav{
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}
nav a{
  text-transform: uppercase;
  color: var(--orange);
}
nav a span{
  font-weight: bold;
}
nav .sidenav-trigger{
  margin: 0;
}

  /*** ******** ***/
 /** food items **/
/*** ******** ***/

#food_item_list {
  width: 90%;
  margin: auto;
}

#food_item_list table,
#food_item_list tr,
#food_item_list td {
  border: none;
  padding: 0;
}

#food_item_list td {
  vertical-align: bottom;
}

#food_item_list table h3,
#food_item_list table p {
  padding: 0;
  margin: 0;
}

#food_item_list tr td:last-child,
#food_item_list button {
  float: right;
}

#food_item_list .fooditemImage {
  width: 25%;
  padding: 0 10px 10px 0;
  min-width: 200px;
}

#food_item_list img {
  width: 100%;
}

#food_item_list p:not(.desc) {
  font-weight: bold;
}

#food_item_list .desc {
  font-style: oblique;
}

#food_item_list .subinfo {
  color: grey;
  font-style: oblique;
}

#food_item_list .fooditemUpvote,
#food_item_list .fooditemDownvote,
#food_item_list .fooditemFavorite
{
  text-align: center;
}

#food_item_list .floatright {
  float: right;
}

#food_item_list table span {
  font-size: large;
  vertical-align: top;
}

#food_item_list i.upscore {
  color: green;
}

#food_item_list i.downscore {
  color: red;
}

#food_item_list i.starscore {
  color: orange;
}
